.cards {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  margin-top: 51px;
  margin-bottom: 67px;
}

.cards__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 282px);
  grid-gap: 20px 17px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

@media screen and (max-width: 480px) {
  .cards {
    margin-top: 36px;
    margin-bottom: 0;
  }
}
