.footer {
  text-align: left;
  color: #545454;
  margin-top: 0;
}

.footer__copyright {
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-size: 18px;
}

@media screen and (max-width: 900px) {
  .footer__copyright {
    font-size: 14px;
  }
}
